body{
    background-color: black;
    color: yellow;
    font-family: monospace;
}

body > header {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

div.image{
    width: 30%;
    display: inline-block;
    float: left;
}

div.text{
    width: 80%;
    height: auto;
    display: inline;
    margin-top: 100px;
}

body > header > div > img{
    height: 60%;
    width: 60%;
}

body > section > div > img{
    height: 50%;
    width: 50%;
}

div.section_image{
    width: 20%;
    display: inline-block;
    float: left;
}

li {
    display: inline;
    padding-inline: 20px;
}